/*--- Cross -----*/

body{
	font-family: 'Proxima Nova Light', sans-serif !important;
	font-weight: normal;
	background: rgb(63,69,121) !important; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(63,69,121,1) 0%, rgba(0,40,219,1) 0%, rgba(1,6,70,1) 72%) !important; /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(63,69,121,1)), color-stop(0%,rgba(0,40,219,1)), color-stop(72%,rgba(1,6,70,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(63,69,121,1) 0%,rgba(0,40,219,1) 0%,rgba(1,6,70,1) 72%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(63,69,121,1) 0%,rgba(0,40,219,1) 0%,rgba(1,6,70,1) 72%) !important; /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(63,69,121,1) 0%,rgba(0,40,219,1) 0%,rgba(1,6,70,1) 72%) !important; /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(63,69,121,1) 0%,rgba(0,40,219,1) 0%,rgba(1,6,70,1) 72%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4579', endColorstr='#010646',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}


@font-face {
  font-family: 'Proxima Nova Light';
  src: url('fonts/proximanova-light.eot?') format('eot'), url('fonts/proximanova-light.woff') format('woff');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proxima Nova Light',serif !important;
}

a:hover{
	color:#2693BA !important;
	text-decoration: none;
}

/*--- Header ---*/

.site_header_blog{
	margin-top: 115px;
}

.navbar{
	max-width: none !important;
	background: none !important;
	border-bottom: none !important;
	min-height: 25px !important;
	background: none repeat scroll 0 0 rgba(25, 59, 115, 0.92) !important;
	box-shadow: none;
}

.navbar-header{
	padding-left: 46px;
}

.navbar_rw{	
	height: 90px;
	padding-right: 46px;
}

	.navbar_rw ul{
		margin: 0px;
		margin-top: 30px;
		padding: 0px;
		list-style-type: none;
		border-bottom: none;
		overflow: hidden;
		background-color: transparent !important;
	}

		.navbar_rw ul li{
			display: inline;
			margin: 0;
			text-align: center;
		}

			.navbar_rw ul li a{
				float: none;
				display: inline-block;
				text-decoration: none;
				margin: 0px;
				padding: 0px 19px;
				border: 0px;
				color: #fff;
				font-weight: lighter;
				font-size: 18px;
				background: transparent;
				font-family: 'Proxima Nova Light', sans-serif;
				opacity: 1;
   				transition: opacity .20s ease-in-out;
   				-moz-transition: opacity .20s ease-out-out;
   				-webkit-transition: opacity .20s ease-in-out;
			}

			.navbar_rw ul li:last-child a{
				padding-right: 0;
			}

			.navbar_rw ul li:nth-child(1) a:hover{
				color: #33ccff;
				opacity: 0.75;
			}

			.navbar_rw ul li:nth-child(2) a:hover{
				color: rgba(247, 83, 83, 1);
				opacity: 0.85;
			}

			.navbar_rw ul li:nth-child(3) a:hover{
				color: #06c149;
				opacity: 0.75;
			}

			.navbar_rw ul li:nth-child(4) a:hover{
				color: #f2f2f2;
				opacity: 0.75;
			}

			.navbar_rw ul li .active{
				background: rgba(41, 95, 146, 0.9);
				padding: 5px;
				border-radius: 4px;
				cursor: default;
			}

			.navbar_rw ul li .active:hover{
				color: #fff !important;
				opacity: 1 !important;
			}	

.navbar_blog{
	background: none repeat scroll 0 0 rgba(41, 95, 146, 0.9) !important;
	height: 25px !important;
    top: 90px;	
}

.navbar-brand {
	 background: url('images/sprite.svg') 0 0;
	 width:150px;
	 height: 20px;
	 margin-left: 0;
     margin-top: 30px;
}

.nav-menu{
	margin-left: 45px;
}

.nav-menu li{
	margin-top: 3px;
}

.nav-menu li a{
	padding: 4px !important;
	padding-bottom: 2px !important;
	padding-right: 2px !important;
	font-size: 12px !important;
	text-transform: uppercase !important;
	border-radius: 4px;
	color: #ACE9FC !important;
}

.nav-menu li a:hover{
	color:#fff;
}

.nav-menu li a:last-child{
	padding-right: 0;
}

.site-header .search-field{
	height: 20px;
	background-image: url('images/search-icon.svg');
	margin-top: 0;
	margin-right: 21px;
	line-height: 28px;
}

.site-header .search-field:focus{
	background-color: rgba(81, 184, 221, 0.5);
	border: none;
	height: 24px;
	color: #fff !important;
}

::-webkit-input-placeholder { 
	color:#fff;
	margin-top: 5px;
	font-family: 'Proxima Nova Light', sans-serif;
}
search-field ::-moz-placeholder { 
	color:#fff;
	margin-top: 5px;
	font-family: 'Proxima Nova Light', sans-serif; 
	} /* firefox 19+ */
:-ms-input-placeholder { 
	color:#fff;
	margin-top: 5px;
	font-family: 'Proxima Nova Light', sans-serif;
	} /* ie */
input:-moz-placeholder { 
	color:#fff;
	margin-top: 5px; 
	font-family: 'Proxima Nova Light', sans-serif;
}

/*--- Home -----------------------------------------------------------------------------------------------------------------*/


#maincontainer{
	background: rgba(255, 255, 255, 0.75);
	width:98%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0px;
}

.entrypart article{
	border-radius: 4px;
}

.entrypart article p{
	padding-bottom: 15px !important;
}

.randomposts{
	background: rgba(255, 255, 255, 0.25) !important;

}

.randomposts article{
	box-shadow: none !important;
	border-radius: 4px !important;
}

.randomposts h2{
	background: url("images/rebon.png") no-repeat scroll right bottom rgba(0, 0, 0, 0) !important;
	padding-top: 10px !important;
	padding-bottom: 20px !important;
	padding-left: 15px !important;
	top: 30px !important;
	right: -18px !important;
	width: 106% !important;

}

/*--- Page -------------------------------------------------------------------------------------------------------------------*/


/*.site-content{
	padding-left: 30px;
	padding-right: 30px;
}*/

.pagecontent{
	background: none !important;
}

.hentry{
	background-color: #fff;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 30px !important;
}

.entry-content, .entry-header{
	padding: 0 !important;
}

.entry-header{
	margin-bottom: 0;
}

h1, h2{
	margin:0;
}

.entry-content h2{
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.entry-content img{
	margin-top: 20px;
	margin-bottom: 20px; 
}

/*--- Post -------------------------------------------------------------------------------------------------------------------*/

.entry-meta{
	display: none;
}

.single-post .entry-title, .entry-title a, .entry-content h2{
	color: #3778B4;
}

.singlepost{
	background: transparent !important;
	margin-top: 15px;
	padding-right: 0;
	padding-left: 0;
}

.single-post .entry-title{
	width: auto;
	margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.singlepost .entry-content{
	float: none !important;
}

.singlepost .randomposts{
	padding-left: 0;
}

.col-md-9 .entry-title{    
    max-width: 605px;
    width: auto;
    padding-top: 20px;
	margin-bottom: 0;
}

.hentry{
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.randomposts{
	min-height: 895px;
}

.entry-content a{
	color: #3778B4 !important;
}

.comments-area{
	display: none;
}

/*-- Footer --*/

.site-footer{
	background: none repeat scroll 0 0 rgba(41, 95, 146, 0.9) !important;
}

.site-footer p{
	margin-top: 15px;
}	
.site-footer p, .site-footer p a{
	color:#ACE9FC;
}

.site-info{
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
 .site-info p{
 	margin-top: 0;
 	padding-bottom: 15px;
 }

